dimod==0.12.22
dwave-optimization==0.6.4
dwave-preprocessing==0.6.11
dwave-cloud-client==0.14.6
dwave-graphs==1.0
dwave-samplers==1.7.0
homebase==1.0.1
minorminer==0.2.22
networkx==3.4.2         # latest that supports 3.10 (and numpy 2)

numpy==2.2.6; python_version < '3.11'    # latest that supports 3.10
numpy==2.4.6; python_version >= '3.11'   # latest as of June 2026

scipy==1.15.3; python_version < '3.11'
scipy==1.16.2; python_version >= '3.11'

# dev requirements
reno==4.1.0
